<div class="container">
  <div class="row">
      <div class="col-sm-3 margin-top-100">
          <div class="fixed">
            <a href="/"><img class="border-radius-50" src="assets/images/dp.jpg" height="75px" width="75px" /></a>
            <h1 class="author-name">Nitin Gaba</h1> 
            <div class="about-me margin-bottom-10">
              I am a full stack developer who loves writing code for a living. I am passionate about JavaScript, 
              AngularJs, Vue Js, nodeJS, HTML, CSS, Bootstrap, web development.
            </div>
              <ul class="list-inline">
                
                <li><a href="https://facebook.com/my.way.nitin" target="_blank"><i class="fa fa-facebook"></i></a></li>
                
                <li><a href="mailto:nitingaba30@gmail.com?Subject=Enquiry" target="_blank"><i class="fa fa-envelope-square"></i></a></li>
                
                <li><a href="https://twitter.com/nitingaba1" target="_blank"><i class="fa fa-twitter"></i></a></li>
                
                <li><a href="https://www.linkedin.com/in/rahulgaba16" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                
                <li><a href="/CV-Rahul Gaba.pdf" target="_blank"><i class="fa fa-sticky-note"></i></a></li>
                
              </ul>
            <div class="search" id="js-search">
              <input type="text" placeholder="Search blogs" class="search__input form-control" id="js-search__input">
              <ul class="search__results" id="js-search__results"></ul>
            </div>
            <hr />
      <div class="navigation">
        <strong>Navigation</strong>
            <br /> &nbsp;&raquo; <a href="/">Blogs</a>
            <br />  &nbsp;&raquo; <a class="about" href="/about/">About Me</a>
            <br />  &nbsp;&raquo; <a class="about" href="/projects/">Projects and Experiments</a>
            <br />  &nbsp;&raquo; <a class="about" href="https://github.com/rgabs">Github</a>
            <br />  &nbsp;&raquo; <a class="about" href="/feed.xml">XML Feed</a>
            <br /> 
      </div>
          </div>
          <!-- end /.fixed-condition -->
        </div>
        <div class="col-sm-9">
          <router-outlet></router-outlet>
      </div> 
  </div>



<!-- Router Outlet -->
