/* You can add global styles to this file, and also import other style files */
a{
    color:#929394;
}
a:hover{
    color:#337ab7;
    text-decoration: none;
}
.fixed{
    position:fixed;
    max-width:293px;
}
.border-radius-50{
    border-radius:50%;
}
.margin-top-100{
    margin-top:100px;
}
.margin-bottom-10{
    margin-bottom:10px
}